<h4 style="text-align:center; font-family:quicksand;">BOOKMARKS</h4>
</br>


<% @user_id = params[:user_id] %>

<script>

  function CallURL(searchTerms){
    var url = "http://api.localhost.com:3000/bookmarks";


    $.ajax({     
      type: "GET",
      url: url,
      data: { user_id: searchTerms },
      contentType: "application/json",
      success: function(json) {
        $.each(json, function(i, item) {        
          searchMemories = item.memory_id;
          MemorySearch(searchMemories);
      });
      },
      // error: function(jqXHR, textStatus, errorThrown) {
      //   console.log(textStatus, errorThrown);
      // }
    });
  }


  function CallCity(searchTerms){
    var url = "http://api.localhost.com:3000/bookmarks";

    $.ajax({     
      type: "GET",
      url: url,
      data: { user_id: searchTerms },
      contentType: "application/json",
      success: function(json) {
        $.each(json, function(i, item) {  
          console.log(item);      
          searchMemories = item.memory_id;
          // MemorySearchWithCities(searchMemories, citySearch);
      });
      },
      // error: function(jqXHR, textStatus, errorThrown) {
      //   console.log(textStatus, errorThrown);
      // }
    });
  }

  function MemorySearchWithCities(searchMemories, citySearch){
    var url = "http://api.localhost.com:3000/memories";
    console.log(citySearch);
    console.log(searchMemories);
   $.ajax({     
      type: "GET",
      url: url,
      data: { id: searchMemories, city: citySearch},
      contentType: "application/json",
      success: function(json) {
        $.each(json, function(i, item) {        
          SearchCallback(json);
        });
      },
      // error: function(jqXHR, textStatus, errorThrown) {
      //   console.log(textStatus, errorThrown);
      // }
    });
  }

  function MemorySearch(searchMemories){
    var url = "http://api.localhost.com:3000/memories";
   $.ajax({     
      type: "GET",
      url: url,
      data: { id: searchMemories},
      contentType: "application/json",
      success: function(json) {
        console.log(json);
        SearchCallback(json);
      },
      // error: function(jqXHR, textStatus, errorThrown) {
      //   console.log(textStatus, errorThrown);
      // }
    });
  }

    function SearchCallback(json) {
    $.each(json, function(i, item) {
      console.log(item);
            
      $('#wrapper').append('<div class="item ' + item.city +'" >' + (moment(item.created_at).format("MMM Do YYYY")) + "<br/><h6>" + item.latitude + ', ' + item.longitude + " | " +(moment(item.created_at).format("h:mm a")) + ' | ' + item.category + '</h6>' + item.description + '</div>'); 
      $('#citynav').append('<li class="citybutton"><a href="#" data-city_id="' + item.city + '" data-filter="' + item.city + '">' + item.city + '</a></li>');


         $("img").error(function(){
           $(this).hide();
           }); 
      });
    };


  $(function() {

    var searchTerms = "<%= @user_id %>";
    CallURL(searchTerms);
  
    var $container = $('#wrapper'); 

    $container.isotope({ 
        filter: '*', 
        animationOptions: { 
            duration: 750, 
            easing: 'linear', 
            queue: false, 
        } 
    }); 


    $('#citynav').on('click','.citybutton', function(e){
      e.preventDefault();
      $('#citynav .current').removeClass('current');
      $(this).addClass('current');

      var selector = $(this).children().data('filter');
      console.log(selector);
      $container.isotope({
        filter: selector,
        animationOptions: {
          duration: 750,
          easing: 'linear',
          queue: false
        }
     });
    });
  });
</script>

<a href="#" class="button citymemories" data-options="align:bottom" data-dropdown="citynav" style="display: block;">CITIES</a>
<ul  id="citynav" class="medium f-dropdown" data-dropdown-content>
  <li class="citybutton current">
    <a href="#" data-city_id="*" data-filter=".*">All</a>
    </li>
</ul>

<br/><br/>


<div id="wrapper">

</div>