<h4 style="text-align:center">Bookmarks</h4>
</br>

<<<<<<< HEAD
<<<<<<< HEAD
<% @user_id = params[:user_id] %>
=======
=======
<% @user_id = params[:user_id] %>
>>>>>>> 814fa8868954ec7d0b4678da5f0f2faf8c9aa8ec

<script>

<<<<<<< HEAD
<% user_id = @current_user.id %>
>>>>>>> 5f66ed1c07c69f7499c4bef271f29a90da9a8636
=======
  function CallURL(searchTerms){
    var url = "http://api.localhost.com:3000/bookmarks";
>>>>>>> 814fa8868954ec7d0b4678da5f0f2faf8c9aa8ec

    $.ajax({     
      type: "GET",
      url: url,
      data: { user_id: searchTerms },
      contentType: "application/json",
      success: function(json) {
        $.each(json, function(i, item) {        
          searchMemories = item.memory_id;
          MemorySearch(searchMemories);
      });
      },
      // error: function(jqXHR, textStatus, errorThrown) {
      //   console.log(textStatus, errorThrown);
      // }
    });
  }

<<<<<<< HEAD
  function CallURL(searchTerms){
    var url = "http://api.localhost.com:3000/bookmarks";

    $.ajax({     
      type: "GET",
      url: url,
      data: { user_id: searchTerms },
      contentType: "application/json",
      success: function(json) {
        $.each(json, function(i, item) {        
          searchMemories = item.memory_id;
          MemorySearch(searchMemories);
      });
      },
      // error: function(jqXHR, textStatus, errorThrown) {
      //   console.log(textStatus, errorThrown);
      // }
    });
  }

=======
>>>>>>> 814fa8868954ec7d0b4678da5f0f2faf8c9aa8ec
  function CallCity(searchTerms){
    var url = "http://api.localhost.com:3000/bookmarks";

    $.ajax({     
      type: "GET",
      url: url,
      data: { user_id: searchTerms },
      contentType: "application/json",
      success: function(json) {
        $.each(json, function(i, item) {  
          console.log(item);      
          searchMemories = item.memory_id;
          // MemorySearchWithCities(searchMemories, citySearch);
      });
      },
      // error: function(jqXHR, textStatus, errorThrown) {
      //   console.log(textStatus, errorThrown);
      // }
    });
  }

  function MemorySearchWithCities(searchMemories, citySearch){
    var url = "http://api.localhost.com:3000/memories";
    console.log(citySearch);
    console.log(searchMemories);
   $.ajax({     
      type: "GET",
      url: url,
      data: { id: searchMemories, city: citySearch},
      contentType: "application/json",
      success: function(json) {
        $.each(json, function(i, item) {        
          SearchCallback(json);
        });
      },
      // error: function(jqXHR, textStatus, errorThrown) {
      //   console.log(textStatus, errorThrown);
      // }
    });
  }



  function MemorySearch(searchMemories){
    var url = "http://api.localhost.com:3000/memories";
   $.ajax({     
      type: "GET",
      url: url,
      data: { id: searchMemories},
      contentType: "application/json",
      success: function(json) {
        console.log(json);
        SearchCallback(json);
      },
      // error: function(jqXHR, textStatus, errorThrown) {
      //   console.log(textStatus, errorThrown);
      // }
    });
  }

    function SearchCallback(json) {
    $.each(json, function(i, item) {
      console.log(item);
            
      $('#wrapper').append('<div class="item" >' + (moment(item.created_at).format("MMM Do YYYY")) + "<br/><h6>" + item.latitude + ', ' + item.longitude + " | " +(moment(item.created_at).format("h:mm a")) + ' | ' + item.category + '</h6>' + item.description + '</div>'); 
      $('#citynav').append('<li><a href="#" class="citybutton" data-city_id="' + item.city + '">' + item.city + '</a></li>');


         $("img").error(function(){
           $(this).hide();
           }); 
      });
    };


  $(function() {

    var searchTerms = "<%= @user_id %>";
    CallURL(searchTerms);

    $("#citynav").on('click', ".citybutton", function(e) {
      e.preventDefault();
      citySearch = ($(this).attr("data-city_id"));
      $("#wrapper").empty();
      console.log(citySearch);
      CallCity(searchTerms);
    });

  });
  
</script>

<a href="#" class="button citymemories" data-options="align:bottom" data-dropdown="citynav" style="display: block;">CITIES</a>
<ul id="citynav" id="citynav" class="medium f-dropdown" data-dropdown-content>
</ul>

<br/><br/>


<div id="wrapper">
  <div id="list">
  </div>
</div>


