<h1> User's Memory Page </h1>

<div class = "memories-leftdisplay" data-user-id="<%= params[:id] %>">
 
  <div id = "memory-list"></div>

</div>



<!-- This JS executes the JS to get the Memories Tiles on the Left -->
<script>
  $( function() {
    getUserMemories();
  });
</script>

<!-- This JS displays the User's Memory Map on the Right -->
<div class="map_rightdisplay">
  <script src="http://maps.googleapis.com/maps/api/js"></script>
  <div id="googleMap" class= "google_map"></div>
</div>


<!-- This JS displays the User's Memories Tiles on the Left -->
<script> 

  var userId = <%= params[:id] %>

  function getUserMemories(){
    var url = "http://api.localhost.com:3000/memories?user_id=" + userId ;
          
    $.ajax({     
      type: "GET",
      url: url,
      contentType: "application/json",
      success: function(data) {
        displayUserMemories(data);
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(textStatus, errorThrown);
      }
    });
  }

  function displayUserMemories(data)
  {
    $.each(data, function(i, item) {
      $('#memory-list').append('<div class="user-view-item"> <%= escape_javascript(render "memoriestilemenu") %> <h5>Title: ' + item.title + '</h5><h7>at ' + item.longitude + ' ' + item.latitude + '</h7><h4>Description: ' + item.description + '</h4> <img src=' + '//gifrific.com/wp-content/uploads/2014/02/Michelle-Tanner-You-Got-it-Dude-Full-House.gif>' + '</img> </div>')
    });
  }


//  // <!-- This JS creates the Users map on the right --> 






</script>









