This is our Search Results Page

<div id="container" class="js-masonry"
  data-masonry-options='{ "columnWidth": 200, "itemSelector": ".item" }'>
  <div class="item"><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p></div>
  <div class="item w2">...<p>asdjf</p><p>asdjf</p></div>
  <div class="item">...<p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p></div>
  <div class="item"><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p></div>
  <div class="item w2">...<p>asdjf</p><p>asdjf</p></div>
  <div class="item">...<p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p></div>  <div class="item"><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p></div>
  <div class="item w2">...<p>asdjf</p><p>asdjf</p></div>
  <div class="item">...<p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p><p>asdjf</p></div>  
</div>