

<% @current_user =  User.find(session["user_id"]) %>
 <script>

  function CallURL(searchTerms){
    var url = "http://api.localhost.com:3000/memories/";

      $.ajax({     
        type: "GET",
        url: url,
        data: { search: searchTerms },
        contentType: "application/json",
        success: function(json) {
          SearchCallback(json);
        },
        // error: function(jqXHR, textStatus, errorThrown) {
        //   console.log(textStatus, errorThrown);
        // }
      });
    }

    function SearchCallback(json) {
    $.each(json, function(i, item) {
            
      $('#wrapper').append('<div class="item" >' + item.city + "</br>" + (moment(item.created_at).format("MMM Do YYYY")) + "<br/><h6>" + item.latitude + ', ' + item.longitude + " | " +(moment(item.created_at).format("h:mm a")) + ' | ' + item.category + '</h6>' + item.description + '<br/> <img src=' + item.media_url + '/>' + '<br/><img name="bookmark-image" data-memory_id="' + item.id + '" data-user_id=<%= @current_user.id %> class="bookmark-image" src="/assets/bookmark.png" /></div>'); 

         $("img").error(function(){
           $(this).hide();
           }); 
      });
    };


  $(function() {

    var firstRefresh = "<%= @memories %>";

    CallURL(firstRefresh);

    $("#search-submit").on('click', function(e) {
      e.preventDefault();
      var testTerm = $("#search-city").val();
      $("#wrapper").empty();
      console.log(testTerm);
      CallURL(testTerm);
      return false
    });


    $("#wrapper").on('click', ".bookmark-image", function() {
      console.log("bookmarked!");
      console.log($(this).attr("data-memory_id"));
      console.log($(this).attr("data-user_id"));

      var url = "http://api.localhost.com:3000/bookmarks/";
      var bookmark = {
        memory_id: $(this).attr("data-memory_id"),
        user_id: $(this).attr("data-user_id"),
      };

      $.ajax({
        type: "POST",
        url: url,
        data: JSON.stringify(bookmark),
        contentType: "application/json",
        success: function() {
          $("#bookmark_user_id").val("");
          $("#bookmark_memory_id").val("");
        }
        // error: function(jqXHR, textStatus, errorThrown) {
        //   console.log(textStatus, errorThrown);

        //   $("#notice-header").text("Give it a sec, and try again!");

        // }
      });
    });

  });


</script>

<form id='search-form'> 
  <div class="row">
    <div class="ten mobile-three columns">
      <input id="search-city" class="search-input"type="text" name="search" placeholder="Search Cities" />
    </div>
    <div class="two mobile-one columns">
      <button id="search-submit" type="button" value="search" class="button expand postfix">SEARCH</button>
    </div>
  </div>
</form>
<h3 style="text-align: center; font-family: quicksand;"> SEARCH RESULTS: </h3></br>
<div id="wrapper">
  <div id="list">
  </div>  
</div>