<p>This is our Search Results Page</p>
<br>
<br>
<script>
  function CallURL(){
    var url = "http://api.localhost.com:3000/memories/";
          
    $.ajax({     
      type: "GET",
      url: url,
      contentType: "application/json",
      success: function(msg) {
        JsonpCallback(msg);
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(textStatus, errorThrown);
      }
    });
  }

  function JsonpCallback(json)
  {
    console.log(json[0].title)
    $.each(json, function(i, item) {
      console.log(item.latitude);
          $('#wrapper').append('<div class="item"> longitude: ' + item.longitude + ' latitude: ' + item.latitude );  
      });
  }

  $( function() {

    CallURL();

  });

</script>



<div id="wrapper">
  <div id="list">
  </div>  
</div>