<h1>Memories#index</h1>
<p>Find me in app/views/memories/index.html.erb</p>

    <li><a class="button large" href="#" data-reveal-id="myCform">Fill Out A Form</a>
<div class="reveal-modal small" id="myCform" data-reveal="">
<h2>Please Fill Out My Form</h2>
 Please contact me! I am lonely and need to hear from other people! I set this Foundation Reveal modal to <code>medium</code> and yes, this is a real form and it works.
 [This is where I had the form code]
 <a class="close-reveal-modal">×</a></div>
<!-- /.reveal-modal --></li>
</ul>
