.memory_block{
  width: 50%;
  float: left;
  position: relative;
  margin: 20px;
  background-color: #e2e0e2;
  padding: 10px;
}

.menu-image{
  width: 30px;
  margin-left: 10px;
  margin-top: 3px;
}

.logo-image{
  display: block;
  width: 150px;
  margin-right: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.create-image{
  width: 35px;
  margin-right: 10px;
  margin-top: 5px;
}

.username_display{
  font-family: quicksand;
}


.app-bar {
  background-color: white;
  padding: 10px 5px 0px 5px;
}
.app-bar h1 {
  color: white;
  line-height: 1;
  font-size: 3em;
}
.app-bar button {
  margin: 0;
}
.row.full-width {
  width: 100%;
  max-width: 100%;
}

.map_rightdisplay{
  width: 50%;
  float: right;
  position: fixed;
  top: 50px;
  right: 0;
  padding-top: 10px;
  height: 50%;
}

.google_map{
  width: 100%;
  height: 800px;
}


