<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Top Bar Title </a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a id= "memory_icon" href="#" data-reveal-id="formModal">Create New Souvenir</a></li>
    </ul>
  </section>


 
  

</nav>

