<div data-magellan-expedition="fixed">
  <div class="row full-width app-bar">

    <div class="text-left small-4 medium-2 columns">
        <ul class="left">
          <a href="#"data-options="align:right" data-dropdown="drop"><img class="menu-image" src="/assets/menu.svg" /></a>
          <ul id="drop" class="large f-dropdown" data-dropdown-content>
          
            <li><a href="/">Home</a></li>

            <% if !current_user %>
              <li><a href="#" data-reveal-id="loginModal">Sign In</a></li>
            <% end %>
            
            <% if current_user %>
              <li>   
                <%= link_to "My Bookmarks", user_bookmarks_path(current_user) %> </li>
              </li>
              <li>   
                <%= link_to "Sign Out", session_path(current_user), method: :delete %> </li>
              </li>
            <% end %>

          </ul>
        </ul>
    </div>

    <div class="small-4 medium-8 columns">
      <a href="#" data-dropdown="drop"><img class="logo-image" src="/assets/logo.png" /></a> 
    </div>

    <div class="text-right small-4 medium-2 columns username_display">
      <%# if current_user %>
        <%#= current_user.full_name %> 
      <%# end %>

    <% if current_user %>
      <a href="#" id= "memory_icon" href="#" data-reveal-id="memoryModal"><img class="create-image" src="/assets/create.svg" /></a>
    <% end %>

    </div>

  </div>

</div>

