<div data-magellan-expedition="fixed">
  <div class="row full-width app-bar">

    <div class="text-left small-4 medium-2 columns">
        <ul class="left">
          <a href="#"data-options="align:right" data-dropdown="drop"><img class="menu-image" src="https://scontent-sea1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/19694_10203592164238210_1396540413212103091_n.jpg?oh=4e582a85f970d1f8c0dc68ed64292c2c&oe=560972BF" /></a>
          <ul id="drop" class="large f-dropdown" data-dropdown-content>
          
            <li><a href="/">Home</a></li>

            <% if !current_user %>
              <li><a href="#" data-reveal-id="loginModal">Sign In</a></li>
            <% end %>
            
            <% if current_user %>
              <li>   
                <%= link_to "My Souvenirs", user_path(current_user)%> 
              </li>
              <li>   
                <%= link_to "My Bookmarks", user_bookmarks_path(current_user) %> 
              </li>
              <li>   
                <%= link_to "Sign Out", session_path(current_user), method: :delete %>

              </li>
            <% end %>

          </ul>
        </ul>
    </div>

    <div class="small-4 medium-8 columns">
      <a href="#" data-dropdown="drop"><img class="logo-image" src="https://scontent-sea1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11011840_10203592164438215_2204799397840360914_n.jpg?oh=29cc9c503ec2612c8dec71cb97cc1e91&oe=55F73374" /></a> 
    </div>

    <div class="text-right small-4 medium-2 columns username_display">
      <%# if current_user %>
        <%#= current_user.full_name %> 
      <%# end %>

    <% if current_user %>

      <a href="#" id= "memory_icon" href="#" data-reveal-id="memoryModal"><img class="create-image" src="https://scontent-sea1-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/11118045_10203592177638545_5283787210368737933_n.jpg?oh=2c34434e954adb38bd0f09bc1433298b&oe=55C61D92" /></a>

    <% end %>

    </div>

  </div>

</div>

